.wrapperQandA {
    width: 100%;
    background-color: #f4f4f4;
    display: flex;
  }

  .qAndAText {
    align-items: center;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }

  /* mobile view  */

  @media (max-width: 990px) {
    .wrapperQandA{
      flex-direction: column;
      color: #565555;
    }
    .qanda{
      font-size: 19px;
    font-weight: 600;
    padding: 20px 0px 0px;
    text-align: center;
    }
      .qAndAText{
        width: 100%;
        flex-direction: column;
        
      }
      .paragraph{
        font-weight: 600;
        font-size: 16px;
      }
  }
  
  