#item {
  display: flex;
  height: 500px;
}
.imgOne {
  width: 100%;
  height: 500px;
}

.img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* On screens that are 992px or less */
@media screen and (max-width: 850px) {
  .img {
  }
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  .img {
    height: 550px;
  }
  .imgOne {
    height: 550px;
  }
  #item {
    height: 550px;
  }
}

#test {
  z-index: 0;
}

.anchorTag {
  color: #fafafa;
  font-size: 30px;
  top: 40%;
  font-weight: 600;
}

.anchorTag:hover {
  color: #fafafa;
  text-decoration: none;
}
