.wrapperAdventure {
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
}
.adventureTextOne {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  color: #565555;
  padding: 20px;
}
.visionAndMissionImg {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  box-shadow:1px 1px 16px #767676;
  -moz-box-shadow: 1px 1px 16px #767676;
  -webkit-box-shadow:1px 1px 16px #767676;
  -khtml-box-shadow: 1px 1px 16px #767676;
}
