.wrapperBookUs {
  background-color: #f4f4f4;
  width: 100%;
  height: 500px;
  display: flex;
  padding: 20px;
}

.bookUsText {
  align-items: center;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
.bookUsImg {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-left: 1px solid;
}
